body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
}

canvas {
    border: 5px solid #ecf0f1;
    border-radius: 10px;
    background-color: #34495e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ecf0f1;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    color: #ecf0f1;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c0392b;
}